@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


table.leaderboard {
  width: 100%;
  border: 1px solid #ddd;
}

table.leaderboard th {
  /* background-color: --background-slate-100; */
}

table.leaderboard td, th {
  border-bottom: 1px solid #ddd;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
}

table.leaderboard td:first-child {
  text-align: left;
  font-weight: 500;
}

.leaderboard-proprietary {
  background-color: #fee;
}